<header class="relative flex items-center bg-blue-800 h-24 justify-between">
  <div class="flex items-center gap-x-4 p-2">
    <img ngSrc="../../../../assets/logo-b.png" alt="logo-b" width="90" height="90" class="h-22 w-22 p-1" priority>
    <h1 class="text-3xl font-thin text-white">PLENA-Mente</h1>
  </div>
  <nav class="absolute left-1/2 transform -translate-x-1/2">
    <ul class="text-white flex text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl space-x-6">
      <li class="flex items-center justify-center">
        <i class="ti ti-calendar hover:scale-125 duration-150 transition-transform cursor-pointer" title="Calendario">
          <span class="ml-2">Calendario</span>
        </i>|
      </li>
      <li class="flex items-center justify-center">
        <i class="ti ti-clipboard-smile hover:scale-125 duration-150 transition-transform cursor-pointer" title="Tareas">
          <span class="ml-2">Pacientes</span>
        </i>
      </li>
      <li class="flex items-center justify-center">
        <i class="ti ti-door hover:scale-125 duration-150 transition-transform cursor-pointer" title="Ambientes"
           [routerLink]="'/rooms'">
          <span class="ml-2">Ambientes</span>
        </i>
      </li>
      <li class="flex items-center justify-center">
        <i class="ti ti-packages hover:scale-125 duration-150 transition-transform cursor-pointer" title="Inventario"
           [routerLink]="'/storage'">
          <span class="ml-2">Inventario</span>
        </i>
      </li>
      <li class="flex items-center justify-center">
        <i class="ti ti-users hover:scale-125 duration-150 transition-transform cursor-pointer" title="Usuarios"
           [routerLink]="'/users'">
          <span class="ml-2">Usuarios</span>
        </i>
      </li>

      <li class="flex items-center justify-center">
        <i class="ti ti-bulb hover:scale-125 duration-150 transition-transform cursor-pointer" title="Áreas"
           [routerLink]="'/areas'">
          <span class="ml-2">Áreas</span>
        </i>
      </li>
    </ul>
  </nav>
  <i class="ti ti-logout text-white text-3xl md:text-4xl lg:text-4xl mr-4 md:mr-10 hover:scale-125 duration-150 transition-transform cursor-pointer"
     (click)="logout()" title="Cerrar sesión"></i>
</header>
