<section class="flex flex-col items-center mt-12 w-full max-w-xl mx-auto">
  <form [formGroup]="areaForm" (ngSubmit)="onSubmit()">
    <h1 class="text-3xl font-bold mb-10 text-center">Registrar Área de Intervención</h1>

    <!-- Nombre del Área -->
    <div class="mb-5 relative">
      <label class="block text-lg font-medium text-gray-700">Nombre del Área</label>
      <input
        type="text"
        class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
        formControlName="name"
        placeholder="Nombre del Área"
      />
    </div>

    <!-- Descripción -->
    <div class="mb-5 relative">
      <label class="block text-lg font-medium text-gray-700">Descripción</label>
      <textarea
        class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
        formControlName="description"
        placeholder="Descripción del Área"
        rows="3"
      ></textarea>
    </div>

    <!-- Botones -->
    <div class="flex gap-5 justify-center mt-10 mb-10">
      <button
        type="submit"
        class="bg-blue-800 text-white px-5 py-2 rounded-lg text-xl hover:bg-blue-700"
      >
        Guardar
      </button>
      <button
        type="button"
        (click)="onCancel()"
        class="bg-gray-500 text-white px-5 py-2 rounded-lg text-xl hover:bg-gray-400"
      >
        Cancelar
      </button>
    </div>
  </form>
</section>
