<div class="container mx-auto p-8 bg-white rounded-lg shadow-lg mt-12">
  <!-- Cargando -->
  <div *ngIf="isLoading" class="text-center text-gray-500">
    Cargando detalles del paciente...
  </div>

  <!-- Detalles del paciente -->
  <div *ngIf="!isLoading && patient" class="space-y-6">
    <h1 class="text-3xl font-bold text-center mb-6">Detalles del Paciente</h1>
    <p><strong>ID:</strong> {{ patient.idPatient }}</p>
    <p><strong>Nombre:</strong> {{ patient.name }}</p>
    <p><strong>Apellido Paterno:</strong> {{ patient.paternalSurname }}</p>
    <p><strong>Apellido Materno:</strong> {{ patient.maternalSurname }}</p>
    <p><strong>Edad:</strong> {{ patient.age }}</p>
    <p><strong>Alergias:</strong> {{ patient.allergies }}</p>
    <p><strong>Estado:</strong> {{ patient.status ? 'Activo' : 'Inactivo' }}</p>
    <p><strong>Plan:</strong> {{ patient.planId }}</p>
    <p><strong>Tutores:</strong></p>
    <ul>
      <li *ngFor="let tutor of patient.tutorNames">{{ tutor }}</li>
    </ul>

    <!-- Botones -->
    <div class="flex justify-center mt-6 space-x-4">
      <button
        class="bg-blue-500 text-white px-6 py-3 rounded hover:bg-blue-600"
        (click)="editPatient()"
      >
        Editar Paciente
      </button>
      <button
        class="bg-gray-500 text-white px-6 py-3 rounded hover:bg-gray-600"
        [routerLink]="'/patients/edit'"
      >
        Volver a Lista
      </button>
    </div>
  </div>
</div>
